node_modules
dist
coverage
.git
.gitignore
.env
.env.*
!.env.example
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log
.DS_Store
.idea
*.swp
*.swo
README.md
.prettierrc
eslint.config.mjs
tsconfig.json
tsconfig.build.json
nest-cli.json
